### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [36]:
# Dependencies and Setup
import pandas as pd
import numpy

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
my_df=pd.DataFrame(purchase_data)
my_df_summary=({})
my_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [37]:
my_df_2=pd.DataFrame(purchase_data) 
counts_unique_players=len(my_df_2["SN"].value_counts())
#pd.DataFrame({"Total Players": [counts_unique_players]})

counts_unique_players=len(my_df["SN"].value_counts())
total_unique_players=pd.DataFrame({"Total Players": [counts_unique_players]})
total_unique_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [38]:
# Determne number of Unique Items, Total Purchase Amount and Total Revenue
counts_unique_items=len(my_df["Item ID"].value_counts()) 
average_price=my_df["Price"].mean()
total_purchases=my_df["SN"].count()
total_revenue=average_price * total_purchases

# Create summary table
summary_df = pd.DataFrame({"Number of Unique Items": counts_unique_items,
                          "Average Price" : average_price, 
                           "Number of Purchases": total_purchases,
                          "Total Reveune" : total_revenue},
                           index=[0])
print(summary_df)

#type(average_price)
#type(total_purchases)
#type(total_revenue)

   Number of Unique Items  Average Price  Number of Purchases  Total Reveune
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [74]:
# restarting using Intro to Pandaâ€™s from Towards Data Science 
# https://towardsdatascience.com/pandas-dataframe-a-lightweight-intro-680e3a212b96
# my_dict = { 
#      'name' : ["a", "b", "c", "d", "e","f", "g"],
#      'age' : [20,27, 35, 55, 18, 21, 35],
#      'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]
# }
# df = pd.DataFrame(my_dict)

# np_arr = numpy.array([10,20,30,40,50,60,70])
# df = pd.DataFrame(my_dict, index=np_arr)
# print(df)
my_df=pd.DataFrame(purchase_data)
# Determine the unique count of total players (576)
unique_players=my_df.nunique()["SN"]
#print("unique_players", unique_players)

grouped_df = my_df.groupby( ["Gender", "SN"] )
new_df=pd.DataFrame(grouped_df.size().reset_index(name = "Group_Count"))
#print("new_df",new_df)

# Determine count by Gender
male_genders=len(grouped_df.Gender.value_counts().Male)
female_genders=len(grouped_df.Gender.value_counts().Female)
#other_genders=unique_players-male_genders-female_genders
other_genders=len(grouped_df.Gender.value_counts()["Other / Non-Disclosed"])
#print("male_genders, female_genders, other_genders", male_genders, female_genders, other_genders)

# Determine percent by Gender
male_percent=(male_genders / unique_players)*100
female_percent=(female_genders / unique_players)*100
# other_percent=(other_genders / unique_players)*100
other_percent=100-male_percent-female_percent
#print("male_percent, female_percent, other_percent", male_percent, female_percent, other_percent)

#new_df=pd.DataFrame(grouped_df.size().reset_index(name = "Group_Count"))
new_df=pd.DataFrame(grouped_df.size().reset_index(name = "Total Count"))
newer_df=pd.DataFrame({})
newer_df['Total Count'] = pd.DataFrame({'Total Count' : [male_genders, female_genders, other_genders]})
newer_df['Percentage of Players'] = pd.DataFrame({'Percentage of Players' : [male_percent, female_percent, other_percent]})

print("print of newer_df")
print(newer_df)

newest_df=pd.DataFrame(purchase_data)
ds_df=pd.DataFrame(newest_df,
                  index=['Male', 'Female', 'Other / Non-Disclosed']
                  )
print()
print("print newest_df as ds_df")
print(ds_df)

g_s_newer=newer_df
g_s_arr = numpy.array(['Male', 'Female', 'Other / Non-Disclosed'])
g_s_df = pd.DataFrame(g_s_newer, index=g_s_arr)
print()
print("print of g_s_df")
print(g_s_df)

# my_dict = { 
#      'name' : ["a", "b", "c", "d", "e","f", "g"],
#      'age' : [20,27, 35, 55, 18, 21, 35],
#      'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]
# }
# df = pd.DataFrame(my_dict)
# np_arr = numpy.array([10,20,30,40,50,60,70])
# df = pd.DataFrame(my_dict, index=np_arr)
# print(df)

my_dict = { 
      'name' : ["a", "b", "c", "d", "e","f", "g"],
      'age' : [20,27, 35, 55, 18, 21, 35],
      'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]
 }
df = pd.DataFrame(my_dict)
np_arr = numpy.array([10,20,30,40,50,60,70])
df = pd.DataFrame(my_dict, index=np_arr)
print()
print(df)

# test_3_df=pd.DataFrame(my_dict)
# test_3=numpy.array(['Male', 'Female', 'Other / Non-Disclosed'])
# g_s_df = pd.DataFrame(test_3_df, index=test_3)
# print("print of g_s_df")
# print(g_s_df)
# *************************************************************************************************************
# #below is to format across the columns not by rows
# genders_summary_df = pd.DataFrame({"Total Count": unique_players, 
#                                    "Male" : male_genders,
#                                    "Female" : female_genders,
#                                    "Other / Non-Disclosed" : other_genders,
#                                    "Male %" : male_percent,
#                                    "Female %" : female_percent,                                   
#                                    "Other / Non-Disclosed %" : other_percent},
#                            index=[0])
# print(genders_summary_df)
# *************************************************************************************************************

# Create and format summary table by row
genders_summary_df = pd.DataFrame([{"Total Count": male_genders, "Percentage of Players": male_percent},
                                  {"Total Count": female_genders, "Percentage of Players": female_percent},
                                  {"Total Count": other_genders, "Percentage of Players": other_percent}])

genders_summary_df["Percentage of Players"] = genders_summary_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)
print()
print("genders_summary_df")
genders_summary_df
print()
print("genders_summary_df")
genders_summary_df


# # np_arr = numpy.array([10,20,30,40,50,60,70])
# # df = pd.DataFrame(my_dict, index=np_arr)
# # print(df)
# g_s_arr = numpy.array(['Male', 'Female', 'Other / Non-Disclosed'])

# df = pd.DataFrame(genders_summary_df, index=g_s_arr)
#print("df after index array")
#print(df)

# # df['Total Count'] = pd.DataFrame({'Total Count' : [male_genders, female_genders, other_genders]})
# # df['Percentage of Players'] = pd.DataFrame({'Percentage of Players' : [male_percent, female_percent, other_percent]})

# print("df",df)

print of newer_df
   Total Count  Percentage of Players
0          484              84.027778
1           81              14.062500
2           11               1.909722

print ds_df
                       Purchase ID   SN  Age Gender  Item ID Item Name  Price  \
Male                           NaN  NaN  NaN    NaN      NaN       NaN    NaN
Female                         NaN  NaN  NaN    NaN      NaN       NaN    NaN
Other / Non-Disclosed          NaN  NaN  NaN    NaN      NaN       NaN    NaN

                      Age Ranges
Male                         NaN
Female                       NaN
Other / Non-Disclosed        NaN

print of g_s_df
                       Total Count  Percentage of Players
Male                           NaN                    NaN
Female                         NaN                    NaN
Other / Non-Disclosed          NaN                    NaN

   name  age designation
10    a   20          VP
20    b   27         CEO
30    c   35         CFO
40    d   55          VP
50    e   18          VP
60    f   21         CEO
70    g   35          MD

genders_summary_df

genders_summary_df

   Total Count Percentage of Players
0          484                84.03%
1           81                14.06%
2           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [43]:
#  # Grouping the DataFrame by "Assignee"
# assignee_group = eclipse_df.groupby("Assignee")

# # Count how many of each component Assignees worked on and create DataFrame
# assignee_work_df = pd.DataFrame(assignee_group["Component"].value_counts())
# assignee_work_df.head()

# count number of differnet types of genders
genders_df=pd.DataFrame(purchase_data).groupby(["Gender"]) 
print(genders_df["SN"].value_counts())
print(grouped_df.Gender.value_counts())

# #gender_work_df = pd.DataFrame(genders_df["Price"].sum())
# gender_work_df["Purchase Count"] = pd.DataFrame(gender_group["Purchase ID"].count())
# gender_work_df["Average Purchase Price"] = gender_work_df["Price"].mean()
# print(gender_work_df)

# # Grouping the DataFrame by "Gender"
# my_df=pd.DataFrame(purchase_data)
# gender_group = my_df.groupby( "Gender" )
# #gender_work_df = my_df.groupby( "Gender" )

# Count how many of each component Assignees worked on and create DataFrame
# gender_work_df["Purchase Count"] = pd.DataFrame(gender_group["Purchase ID"].count())
# gender_work_df["Average Purchase Price"]  = pd.DataFrame(gender_group["Price"].mean())
# gender_work_df["Total Purchase Value"][0] = (gender_work_df["Purchase Count"][0] * gender_work_df["Average Purchase Price"][0])
# gender_work_df["Total Purchase Value"][1] = (gender_work_df["Purchase Count"][1] * gender_work_df["Average Purchase Price"][1])
# gender_work_df["Total Purchase Value"][2] = (gender_work_df["Purchase Count"][2] * gender_work_df["Average Purchase Price"][2])
# gender_work_df["Avg Total Purchase per Person"]  = len(pd.DataFrame(gender_group["Price"].mean()))

# # Determine count by Gender
# male_genders=len(gender_group.Gender.value_counts().Male)
# female_genders=len(gender_group.Gender.value_counts().Female)
# #other_genders=unique_players-male_genders-female_genders
# other_genders=len(gender_group.Gender.value_counts()["Other / Non-Disclosed"])

# grouped_df = my_df.groupby( ["Gender", "SN"] )
# new_df=pd.DataFrame(grouped_df.size().reset_index(name = "Group_Count"))
# #print(new_df)

# Determine count by Gender
male_genders=len(grouped_df.Gender.value_counts().Male)
female_genders=len(grouped_df.Gender.value_counts().Female)
#other_genders=unique_players-male_genders-female_genders
other_genders=len(grouped_df.Gender.value_counts()["Other / Non-Disclosed"])

print("BZ Genders")
print(female_genders)
print(male_genders)
print(other_genders)

# gender_work_df["Avg Total Purchase per Person"][0] = ((gender_work_df["Total Purchase Value"][0]) / female_genders)
# gender_work_df["Avg Total Purchase per Person"][1] = (gender_work_df["Total Purchase Value"][1] / male_genders)
# gender_work_df["Avg Total Purchase per Person"][2] = (gender_work_df["Total Purchase Value"][2] / other_genders)

# gender_work_df["Average Purchase Price"] = gender_work_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)

# gender_work_df.head()

Gender                 SN
Female                 Chamjask73     3
                       Ialallo29      3
                       Phyali88       3
                       Tyidaim51      3
                       Umolrian85     3
                                     ..
Other / Non-Disclosed  Haerithp41     1
                       Jiskirran77    1
                       Lirtim36       1
                       Rairith81      1
                       Sundim98       1
Name: SN, Length: 576, dtype: int64
Gender                 SN             Gender
Female                 Adastirin33    Female                   1
                       Aerithllora36  Female                   2
                       Aethedru70     Female                   1
                       Aidain51       Female                   1
                       Aiduesu86      Female                   1
                                                              ..
Other / Non-Disclosed  Lirtim36       Other / Non-Disclosed    1
                       Maluncil97     Other / Non-Disclosed    2
                       Rairith81      Other / Non-Disclosed    1
                       Siarithria38   Other / Non-Disclosed    2
                       Sundim98       Other / Non-Disclosed    1
Name: Gender, Length: 576, dtype: int64
BZ Genders
81
484
11

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [44]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9,200]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
#purchase_data_age2["Purchase Count"] = len(purchase_data["SN"].value_counts())
#purchase_data_age2["Purchase Count"] = purchase_data["Purchase by Age"].count()
#"Avg Total Purchase per Person"

group_a_r=purchase_data.groupby(["Age Ranges"])
#group_compare = purchase_data.groupby(["Age Ranges"])
gar=group_a_r.mean()
gar

#purchase_data

            Purchase ID        Age     Item ID     Price
Age Ranges
<10          435.173913   7.869565  105.565217  3.353478
10-14        361.214286  11.392857   97.107143  2.956429
15-19        403.375000  16.794118   94.102941  3.035956
20-24        382.391781  21.838356   88.589041  3.052219
25-29        406.653465  26.000000   90.376238  2.900990
30-34        359.643836  31.383562   94.054795  2.931507
35-39        404.780488  36.707317  100.902439  3.601707
40+          410.230769  41.538462   89.076923  2.941538

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
bins_2 = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9,200]
group_names_2 = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins_2, labels=group_names_2, include_lowest=True)
#purchase_data_age2["Purchase Count"] = len(purchase_data["SN"].value_counts())
#purchase_data_age2["Purchase Count"] = purchase_data["Purchase by Age"].count()
#"Avg Total Purchase per Person"

group_a_r_2=purchase_data.groupby(["Age Ranges"])
#group_compare = purchase_data.groupby(["Age Ranges"])
gar_2=group_a_r_2.mean()
gar_2
#purchase_data

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [70]:
# # from Kent Smith 012322
# #most profitable items
# items_totalvalue_df = items_groupedby_df.sort_values(["total purchase value"], ascending=False).head(5)
# items_totalvalue_df.style.format(precision=0,formatter={"item price":"${:.2f}",
#                                                      "total purchase value":"${:.2f}"})

items_groupedby_df

AttributeError: 'DataFrameGroupBy' object has no attribute 'sort_values'

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame